
.cv .skills section {overflow:auto;margin-bottom:0;}
.cv .skills section p {
  float:left;
  max-width:50%;
  word-break:break-word;
}
.cv .skills section span {
  display:inline-block;
  width:15px;
  height:15px;
  background: #bbb;
  border-radius:15px;
  float:right;
  margin:0 1px;
}
.cv .skills section span.full {background: black;}