.TitleA {
    color: #1D7FBE;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
	text-align: center;
}

.TitleB {
    color: #EDEFF1;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
	text-align: center;
}

.TitleC {
	text-align: center;
}

.bg-A{
    background-color: white;
}

.bg-B{
    background-color: #007BE3;
}

h2:after {
    content: '';
    width: 100px;
    height: 3px;
    background: #C82333;
    display: block;
    margin: 15px auto;
    transition: all .2s ease-in-out;
}

h2:hover:after {
    width: 160px;
}

.indent { /*for <p></p>*/
    text-indent:3em;
    font-size: 20px;
}

/* <BallsSkill> */
.cv .skills section {overflow:auto;margin-bottom:0;}
.cv .skills section p {
    float:left;
    max-width:50%;
    word-break:break-word;
}
.cv .skills section span {
    display:inline-block;
    width:15px;
    height:15px;
    background:#bbb;
    border-radius:15px;
    float:right;
    margin:0 1px;
}
.cv .skills section span.full {background: black;}
/* </BallsSkill> */

/*Skills*/
.roundBorder {
    border: 2px solid #6C757D;
    border-radius: 8px;
    background-color: white;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0px;
    /* min-width: 250px; */
    width: 100%;
}
.roundBorder:hover {
    background-color: gray;
}