.TitleA {
    color: #1D7FBE;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
	text-align: center;
}

.TitleB {
    color: #EDEFF1;
    font-weight: 800;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
	text-align: center;
}

.bg-A{
    background-color: white;
}

.bg-B{
    background-color: #007BE3;
}

h2:after {
    content: '';
    width: 100px;
    height: 3px;
    background: #C82333;
    display: block;
    margin: 15px auto;
    transition: all .2s ease-in-out;
}

h2:hover:after {
    width: 160px;
}

.indent {
    text-indent:3em;
    font-size: 20px;
}